body {
    background:#FFFFFF;
}

.limiter1300 {
    width:calc(100% - 2em);
    max-width:1300px;
    margin:0 auto;
    padding:1em;
}

.limiter1100 {
    width:calc(100% - 2em);
    max-width:1100px;
    margin:0 auto;
    padding:1em;
}